*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#0f172a;
color:white;
line-height:1.6;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
padding:20px 60px;
background:#020617;
}

.logo{
color:#38bdf8;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:20px;
}

nav ul li a{
text-decoration:none;
color:white;
font-weight:bold;
}

/* HERO */

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:40px;
margin-bottom:20px;
}

.hero p{
max-width:700px;
}

.btn{
display:inline-block;
margin-top:20px;
padding:12px 24px;
background:#38bdf8;
color:black;
text-decoration:none;
border-radius:5px;
font-weight:bold;
}

/* SECTIONS */

section{
padding:80px 20px;
text-align:center;
}

.features-container{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
flex-wrap:wrap;
}

.feature-box{
background:#1e293b;
padding:30px;
border-radius:10px;
width:250px;
}

.steps{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
flex-wrap:wrap;
}

.step{
background:#1e293b;
padding:25px;
border-radius:10px;
width:220px;
}

footer{
background:#020617;
text-align:center;
padding:20px;
}